<div class="dashboard-wrapper">
  <aside [@slideInOut]="sidebarState" class="sidebar">
    <h2>Dashboard Controls</h2>
    <ul>
      <li>Overview</li>
      <li>Nodes</li>
      <button (click)="toggleSidebar()"> Close </button>
    </ul>
  </aside>


  <div class="button-group">
    <button (click)="toggleSidebar()" class = "btn-sidebar">Toggle Menu</button>
    <button (click)="toggleModal()" class = "btn-toggle-modals">Toggle Modals</button>
    <button (click)="resetCards()" class = "btn-reset-cards">Toggle Reset Cards</button>

    <p>Welcome to the Dashboard!</p>
  </div>

  <div class ="card-grid" [@listAnimation]="cards.length">
    <div *ngFor = "let card of cards" class="card">
      <h3>{{ card.title }}</h3>
      <p>Status: {{ card.status }}</p>
    </div>
  </div>


  <div *ngIf="isModalOpen" [@fadeScale] class="modal-overlay">
    <div  class="modal-content">
      <h2>Alert</h2>
      <p>This is an animated modal!</p>
      <button (click)="toggleModal()">Close</button>
    </div>
  </div>


</div>



